@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Spline+Sans+Mono:ital,wght@1,700&family=Spline+Sans:wght@400;600&display=swap');

:root
{
    --header-height: 5rem;

    --first-hue: 258;
    --second-hue:225;
    --ferst-color: hsl(var(--first-hue), 54%,  48%);
    --title-color: hsl(var(--second-hue), 64%, 18%);
    --text-color: hsl(var(--first-hue), 8%, 35%);
    --border-color: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--first-hue), 60%, 98%);
    --conteiner-color: #fff;


    --body-font: 'Jost', sans-serif;
    --biggest-font-size: 4.25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    --font-light: 300;
    --font-medium: 500;
    --font-semibold:600;

    --z-tooltip:10;
    --z-fixed: 100;

}

@media screen and (max-width: 1024px)
{
    :root
    {
        --biggest-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;

    }
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button,
input,
textarea
{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body
{
    background-color: var(--body-color);
    color: var(--text-color);

}

h1, h2, h3
{
    color: var(--text-color);
    font-weight: var(--font-semibold);
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

p
{
    line-height: 1.6rem;
    text-align: justify;
}

button
{
    cursor: pointer;
    border: none;
    outline: none;
}

img
{
    max-width: 100%;
    height: auto;
    border-radius: .075rem;

}

/*======= REUSABLE CSS CLASSES ==============*/
.container
{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.grid
{
    display: grid;
}

/*======= HEADER & NAV==============*/
.header
{
    width: 100%;
    background-color: var(--conteiner-color) ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
.nav
{
    height: calc(var(--header-height)+ 2.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

.nav__logo{
    display:inline-flex;
    align-items: center;
    width: 150px;
}

.nav__list
{
    display: flex;
    column-gap: 2rem;
}

.nav__link
{
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .4s;
}

.nav__link:hover
{
    color: var(--first-color);
}

.nav__close,
.nav__toggle
{
    color: var(--title-color);
}

.nav__toggle
{
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__close,
.nav__toggle
{
    display: none;
}

/* Active link */
.nav__link:hover::before,
.nav__link::before
{
    content: '';
    position: absolute;
    bottom:  -.5rem;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--ferst-color);
    border-radius: 56%;
    transition: .4s;
}
.nav__link:hover::before,
.active-link::before
{
    width: 30px;
}
.active-link
{
    color: var(--ferst-color);
}


/*======= HOME ==============*/
.home
{
    padding: 12.5rem 0 2rem;
}

.home__container
{
grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.home__subtitle,
.home__title
{
    font-size: var(--biggest-font-size);
    line-height: 68px;
    font-weight: var(--font-light);
}

.home__subtitle
{
    margin-bottom: .75rem ;
}

.home__title
{
    margin-bottom: 2rem;
}

.home__title span
{
    font-weight: var(--font-medium);
}

.home__buttons
{
    display: flex;
    flex-direction:column;
    row-gap: .25rem;
}

.home__buttons span
{
    color: var(--ferst-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
}

.home__buttons span:nth-child(2)
{
    opacity: .7;
}

.home__buttons span:nth-child(3)
{
    opacity: .4;
}
.home__images
{
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
}


/*======= BUTTONS ==============*/

/*======= ABOUT ==============*/

/*======= SERVICES ==============*/

/*======= WORK ==============*/

/*======= LIGHTBOX ==============*/

/*======= PROGECT ==============*/

/*======= EXPIRIANS ==============*/