@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Spline+Sans+Mono:ital,wght@1,700&family=Spline+Sans:wght@400;600&display=swap');

:root
{
    --header-height: 5rem;

    --first-hue: 258;
    --second-hue:225;
    --ferst-color: hsl(var(--first-hue), 54%,  48%);
    --title-color: hsl(var(--second-hue), 64%, 18%);
    --text-color: hsl(var(--first-hue), 8%, 35%);
    --border-color: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--first-hue), 60%, 98%);
    --conteiner-color: #fff;


    --body-font: 'Jost', sans-serif;
    --biggest-font-size: 4.25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    --font-light: 300;
    --font-medium: 500;
    --font-semibold:600;

    --z-tooltip:10;
    --z-fixed: 100;

}

@media screen and (max-width: 1024px)
{
    :root
    {
        --biggest-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;

    }
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button,
input,
textarea
{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body
{
    background-color: var(--body-color);
    color: var(--text-color);

}

h1, h2, h3
{
    color: var(--text-color);
    font-weight: var(--font-semibold);
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

p
{
    line-height: 1.6rem;
    text-align: justify;
}

button
{
    cursor: pointer;
    border: none;
    outline: none;
}

img
{
    max-width: 100%;
    height: auto;
    border-radius: .75rem;
}

/*======= REUSABLE CSS CLASSES ==============*/
.container
{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.grid
{
    display: grid;
}

.section
{
    padding: 7rem 0 2rem;
}

.section__subtitle,
.section__title
{
    text-align: center;
}

.section__title
{
    font-size: var(--h1-font-size);
    color: var(--ferst-color);
    margin-bottom: 3rem;
}

.section__subtitle
{
    display: block;
}
/*======= HEADER & NAV==============*/
.header
{
    width: 100%;
    background-color: var(--conteiner-color) ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
.nav
{
    height: calc(var(--header-height)+ 2.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

.nav__logo{
    display:inline-flex;
    align-items: center;
    width: 150px;
}

.nav__list
{
    display: flex;
    column-gap: 2rem;
}

.nav__link
{
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .4s;
}

.nav__link:hover
{
    color: var(--ferst-color);
}

.nav__close,
.nav__toggle
{
    color: var(--title-color);
}

.nav__toggle
{
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__close,
.nav__toggle
{
    display: none;
}

/* Active link */
.nav__link:hover::before,
.nav__link::before
{
    content: '';
    position: absolute;
    bottom:  -.5rem;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--ferst-color);
    border-radius: 56%;
    transition: .4s;
}
.nav__link:hover::before,
.active-link::before
{
    width: 30px;
}
.active-link
{
    color: var(--ferst-color);
}


/*======= HOME ==============*/
.home
{
    padding: 12.5rem 0 2rem;
}

.home__container
{
grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.home__subtitle,
.home__title
{
    font-size: var(--biggest-font-size);
    line-height: 68px;
    font-weight: var(--font-light);
}

.home__subtitle
{
    margin-bottom: .75rem ;
}

.home__title
{
    margin-bottom: 2rem;
}

.home__title span
{
    font-weight: var(--font-medium);
}

.home__buttons
{
    display: flex;
    flex-direction:column;
    row-gap: .25rem;
}

.home__buttons span
{
    color: var(--ferst-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
}

.home__buttons span:nth-child(2)
{
    opacity: .7;
}

.home__buttons span:nth-child(3)
{
    opacity: .4;
}
.home__images
{
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
}

.home__group
{
    margin-top: 2rem;
    grid-template-columns: 10fr 2fr;
    column-gap: 1.875rem;
}

.home__description
{
    font-size: var(--h2-font-size);
    line-height: 36px;
    margin-bottom: 2.5rem;
}

.home__description span
{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.home__social
{
    display: flex;
    align-items: center;
}

.home__social-follow
{
    color: var(--title-color);
    font-size: 17px;
    font-weight: var(--font-medium);
    padding-right: 8.175rem;
    position: relative;
}

.home__social-follow::after
{
    content: '';
    position: absolute;
    right: 1rem;
    top:58%;
    width: 100px;
    height: 2px;
    background-color: hsla(var(--second-hue), 64%, 18%, .15);
    margin: -1px;
}

.home__social-links
{
    display: inline-flex;
    column-gap: .5rem;
}

.home__social-link
{
    display: inline-flex;
    align-items: center;
    padding: 1rem .875rem .875rem 1rem;
    border-radius: .75rem;
    border: 1px solid hsla(var(--second-hue), 64%, 18%, .15);
    background-color: var(--conteiner-color);
    color: var(--title-color);
}

.home__social-link i
{
    font-size: var(--h2-font-size);
    text-align: center;
    transition: .4s;
}

.home__social-link span
{
     display: inline-block;
    font-weight: var(--font-medium);
    white-space: nowrap;
    line-height: 14px;
    transform: translateX(1rem);
    max-width: 0;
    overflow: hidden;
    transition: 1.2s;
}

.home__social-link span::after
{
    content: '';
    margin-right: 1rem;
}

.home__social-link:hover i,
.home__social-link:hover span
{
color: var(--ferst-color);
}

.home__social-link:hover span
{
    max-width: 400px;
}

.experience__img
{
    width: 160px;
    justify-self: flex-end;
}
/*======= BUTTONS ==============*/


.button
{
    display: inline-block;
    background-color: var(--ferst-color);
    color: var(--conteiner-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .4s;
}

.button:hover
{
    background-color: var(--title-color);
}
/*======= ABOUT ==============*/
.about__container
{
    grid-template-columns: repeat(2,  1fr);
    column-gap: 1.875rem;
}

.about__img
{
    justify-self: center;
    border-radius: .75rem;
}

.about__subtitle,
.about__title
{
    text-align: left;
}

.about__title
{
    margin-bottom: 2.5rem;
}

.about__description
{
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: 17px;
    margin-bottom: 1.5rem;
}

.about__details
{
    margin-bottom:2.5rem ;
}

.about__award
{
    grid-template-columns: 4fr 8fr;
    align-items: center;
}

.award__title
{
    font-size: 17px;
    font-weight: var(--font-medium);
    margin-bottom: .5rem;
}


/*======= SERVICES ==============*/
.services__container
{
    grid-template-columns: 4.5fr 7.5fr;
    align-items: center;
    column-gap: 6rem;
}

.services__button
{
    position: relative;
    display: inline-block;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    line-height: 30px;
    padding-right: 1.25rem;
    cursor: pointer;
    transition: .4s;
}

.services__tab div:not(:last-child)
{
    margin-bottom: 1rem;
}


.services__button:before
{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 100%;
    top: 50%;
    background-color: var(--ferst-color);
    transition: .4s;
}

.services__button.services__active::before,
.services__button:hover::before
{
    width: 100px;
}

.services__button.services__active,
.services__button:hover
{
    color: var(--ferst-color);
}

/* исправить размеры */
.services__item
{
    grid-template-columns: 500px  400px;
    column-gap: 1.875rem;
}

.services [data-content]
{
display: none;
}

.services__active[data-content]
{
display: block;
}

.services__title
{
    padding-top: .25rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
    font-size: 17px;
    line-height: 1.6rem;
    text-align: justify;
}
/*======= WORK ==============*/

.work__container
{
    column-count: 4;
    column-gap: 1.875rem;
}

.work__content
{
    position: relative;
    margin-bottom: 1.5rem;
}

.work__content:hover
{
    box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, .1);
}

.work__overlay
{
    width: 100%;
    height: 100%;
    background-color: rgba(225, 225, 225, .8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: .4s;
}

.work__content:hover .work__overlay
{
    opacity: 1;
    border-radius: .75rem;
}

.icon
{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    margin-left: -1rem;
    font-size: 1rem;
    color: var(--ferst-color);
    transform: scale(0);
    transition: .4s;
}

.icon.work__content:before
{
    transform: scale(1);
}


/*======= LIGHTBOX ==============*/

/*======= PROGECT ==============*/
.project
{
    padding: 6.25rem 0;
    background-image: url('../img/ispa/ispansky9.jpeg');
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 85.1688px;
}

.project__container
{
    place-items: center;
}

.project__title
{
    font-size: 2rem;
    margin-bottom: .25rem;
}

.project__description
{
    font-size: var(--h3-font-size);
    margin-bottom: 2rem;
}
/*======= EXPIRIANS ==============*/

.qualification__container
{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;

}

.timeline__item
{
    position: relative;
    padding-left: 3rem;
    margin-bottom: 2.5rem;

}

.timeline__item:last-child
{
    margin-bottom: 0;
}

.timeline__item::before
{
    content: '';
    width: 2px;
    height: 60%;
    position: absolute;
    left: .459rem;
    top: 0;
    background-color: var(--ferst-color);
    transition: .4s;
}

.timeline__item:hover::before
{
    height: 100%;
}

.circle__dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--ferst-color);
    border-radius: .25rem;
    background-color: var(--body-color);
    transform: rotate(134deg);
    transition: .4s;
}

.timeline__item:hover .circle__dot
{
    background-color: var(--ferst-color);
}

.timeline__item
{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
}

.timeline__date
{
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: var(--small-font-size);
    color: var(--ferst-color);
    margin-bottom: .5rem;
}

/* =========== CONTACT============*/
.contact__container
{
    grid-template-columns: 6.5fr  5.5fr;
    column-gap: 3rem;
    align-items: flex-start;
    padding-bottom: 3rem;
}

.contact__form-group
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
}

.contact__form-div
{
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact__form-input
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid hsl(var(--second-hue), 4%, 55%);
    background: none;
    color: var(--text-color);
    outline: none;
    border-radius: .75rem;
    padding: 1.5rem;
    z-index: 1;
}

.contact__form-tag
{
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: .25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.contact__from-area
{
    height: 10.25rem;
}

.contact__from-area textarea
{
    resize: none;
}

.contact__info
{
    display: grid;
    row-gap: 1.875rem;
}

.contact__card div
{
    display: flex;
    column-gap: .75rem;
    margin-bottom: .5rem;
}

.contact__card #contact__icon
{
font-size: 1.8rem;
    color: var(--ferst-color);
    display: inline-block;
    margin-bottom: .25rem;
}

.contact__card-title,
.contact__card-data
{
    font-size: var(--normal-font-size);
}

.contact__card-title
{
    padding: .16rem;
    font-weight: var(--font-medium);
}

.contact__card-data
{
    display: block;
    margin-bottom: .5rem;
}

.footer
{
    background-color: var(--ferst-color);
}

.footer__container
{
    padding: 2rem 0 2rem;
}